@model MvcXmlDemo.Models.Category

<!DOCTYPE html>

<html>
<head>
    <title>Saved Category Info</title>
</head>
<body>
    New category info
    <p>@Model.CategoryId @Model.Description</p>
</body>
</html>
